<h2 align = "center">Register Here!</h2>

<%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
  <%= devise_error_messages! %>

<div class="field" align = "center">
<%= f.label :Role %>
<%= f.select :Role, [['Patron',"patron"],['Owner',"owner"]] %>
</div>
<br />
  <div class="field" align = "center">
    <%= f.label :Name %>
    <%= f.text_field :Name, autofocus: true %>
  </div>

<br />
  <div class="field" align = "center">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>
<br />
  <div class="field" align = "center">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
<br />
  <div class="field" align = "center">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
<br />
  <div class="actions" align = "center">
    <%= f.submit "Sign Up",class: 'btn btn-primary' %> 
   <%= render 'devise/shared/links' %> 

  </div>
<% end %>


