<%= form_for(restaurant_category) do |f| %>
  <% if restaurant_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant_category.errors.count, "error") %> prohibited this restaurant_category from being saved:</h2>

      <ul>
      <% restaurant_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :restaurant_id_integer %>
    <%= f.text_field :restaurant_id_integer %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
    <%= f.number_field :category_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
