
<%= form_for(@restaurant1) do |f| %>
 
  <div class="field">
    <%= f.label :Name %>
    <%= f.text_field :Name %>
  </div>

  <div class="field">
    <%= f.label :Address %>
    <%= f.text_field :Address %>
  </div>

  <div class="field">
    <%= f.label :Phonenumber %>
    <%= f.text_field :Phonenumber %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

